VITE_COGNITO_USER_POOL_ID=replace-with-cognito-user-pool-id
VITE_COGNITO_DOMAIN=https://auth.aorafting.net
VITE_COGNITO_CLIENT_ID=replace-with-cognito-app-client-id
VITE_COGNITO_REDIRECT_URI=https://media.aorafting.net/auth/callback
VITE_COGNITO_LOGOUT_URI=https://media.aorafting.net/
VITE_API_BASE_URL=https://prdd7g3j20.execute-api.us-west-2.amazonaws.com
VITE_DEMO_MODE=false
